{{ define "home.html" }}
  {{ template "layouts/header.html" .}}

  <div>
    <canvas id="myChart"></canvas>
  </div>

  <script>
    window.onload = function() {
      const data = {
        labels: {{ .labels }},
        datasets: [
          {
            label: 'Reading',
            backgroundColor: 'rgb(255, 99, 132)',
            borderColor: 'rgb(255, 99, 132)',
            data: {{ .values }},
          }
      ]
      };
    
      const config = {
        type: 'line',
        data: data,
        options: {}
      };
  
      const myChart = new Chart(
        document.getElementById('myChart'),
        config
      );
    }
  </script>

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  {{ template "layouts/footer.html" .}}
{{ end }}